* {
    border: none;
    border-radius: 3px;
    font-family:
        Lexend,
        JetBrains Mono Nerd Font Propo,
        sans-serif;
    font-size: 15px;
    font-weight: 400;
    min-height: 0;
}

window#waybar {
    background: rgba(39, 46, 51, 0.5);
    border-bottom: 2px solid rgba(65, 75, 80, 0.5);
    border-left: 2px solid rgba(65, 75, 80, 0.5);
    border-right: 2px solid rgba(65, 75, 80, 0.5);
    color: #d3c6aa;
}

tooltip {
    background: rgba(39, 46, 51, 0.85);
    border: 1px solid rgba(65, 75, 80, 0.85);
}

tooltip label {
    color: #d3c6aa;
}

#memory,
#cpu,
#temperature,
#bluetooth,
#wireplumber,
#network,
#clock {
    padding: 0 10px;
}

#workspaces {
    margin: 0 7px;
    padding: 0 5px;
}

#workspaces button {
    color: #d3c6aa;
    margin: 0 1px;
    padding: 0 5px;
}

#network.disconnected {
    color: #e67e80;
}

#clock {
    background-color: #414b50;
    margin: 0 7px;
    padding: 0 10px;
}
