* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: CaskaydiaMono Nerd Font Propo;
    font-size: 15px;
}

window#waybar {
  background-color: #1d2021;
  color: #ebdbb2;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
    padding: 0 6px;
    margin: 0 1.5px;
}

#workspaces button.active label {
    color: #d79921;
}

#workspaces button.empty {
  opacity: 0.5;
}

#clock,
#cpu,
#pulseaudio,
#network {
    padding: 0 10px;
    margin: 0 1.5px;
}

#clock:hover,
#workspaces button:hover,
#cpu:hover,
#pulseaudio:hover,
#network:hover {
  background-color: #282828;
  border-radius: 0px;
}
