* {
    font-family:
        BlexMono Nerd Font Propo,
        sans-serif;
    font-size: 16px;
}

window#waybar {
    background: rgba(39, 46, 51, 1);
    color: #d3c6aa;
}

tooltip {
    background: rgba(39, 46, 51, 1);
    border: 1px solid rgba(65, 75, 80, 1);
    color: #d3c6aa;
}

tooltip label {
    color: #d3c6aa;
}

#workspaces {
    margin: 0 10px;
    margin-top: 2px;
}

#workspaces button {
    color: #d3c6aa;
    margin: 0 1px;
    padding: 0 5px;
}

#workspaces button.active,
#custom-separator {
    color: #a7c080;
}

#custom-separator {
    margin-right: 15px;
    margin-top: 2px;
}

#window,
#clock {
    margin-top: 2px;
}

#cpu,
#pulseaudio,
#network {
    margin: 0 10px;
    margin-top: 2px;
}

#network {
    margin-right: 15px;
}
